<!DOCTYPE html>
<html>
<head>
	<title>Ecommerce Site</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/nav.css">
	<link rel="stylesheet" href="../static/css/carousel.css">
	<link rel="stylesheet" href="../static/css/fonts.css">
	<link rel="stylesheet" href="../static/css/homeres.css">
</head>

<body>

<div id="load"></div>
<div class="wrapper">
	<nav>
		<img src="../static/img/logo.png" class="logo">
		
		<div class="search">
			<img src="../static/img/search.png" style="width:20px;margin-top:10px;">
			<input type="text" placeholder="Search for products and inspirations">
		</div>

		<div class="opts">
		
			<div class="opt_icon_name">
				<img src="../static/img/loc.png" class="nav_icon"> <br>
				<div class="nav_icon_label">SHOWROOM</div>
			</div>
			<div class="opt_icon_name">
				<img src="../static/img/help.png" class="nav_icon"> <br>
				<div class="nav_icon_label">FAQ</div>
			</div>
			<div class="opt_icon_name">
				<img src="../static/img/user.png" class="nav_icon"> <br>
				<div class="nav_icon_label">ACCOUNT</div>
			</div>
			<div class="opt_icon_name">
				<img src="../static/img/basket.png" class="nav_icon"> <br>
				<div class="nav_icon_label">BASKET</div>
			</div>

		</div>
	</nav>

<div class="second_nav">
	<div class="second_nav_opts">NEW</div>
	<div class="second_nav_opts">SOFAS</div>
	<div class="second_nav_opts">CHAIRS</div>
	<div class="second_nav_opts">TABLES</div>
	<div class="second_nav_opts">STORAGE</div>
	<div class="second_nav_opts">BEDS</div>
	<div class="second_nav_opts">LIGHTING</div>
	<div class="second_nav_opts">HOME FURNISHINGS</div>
	<div class="second_nav_opts">ACCESSORIES</div>
	<div class="second_nav_opts">LIFESTYLE</div>
	<div class="second_nav_opts">CHRISTMAS</div>
	<div class="second_nav_opts">CLEARANCE</div>
	<div class="second_nav_opts">TALENTLAB</div>
	<div class="second_nav_opts">IDEAS</div>
</div>



<div class="slideshow-container">
	  <div class="mySlides fade"> 
	    <img src="../static/img/img1.png"  class="carousel_img"> 
	  </div>

	  <div class="mySlides fade">
	    <img src="../static/img/img2.png" class="carousel_img">
	  </div>

	  <div class="mySlides fade">
	    <img src="../static/img/img3.png" class="carousel_img">
	  </div>

	 <div class="prevnext_cont">
	  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	  <a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>
</div>
<br>

<div style="text-align: center;">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>


<div class="heading_large">Our best bits</div>

<div class="left_right_btn">
	<a  id="left_btn">
		<img src="../static/img/left.png" class="left_right_btn_img">
	</a>

	<div class="best_items">
		<div class="h_scroll">
			<a href="#"  class="item">
				<img src="../static/img/bed.png" class="item_img">
				<div>Orson 2 seater Sofa</div>
			</a>
			<a href="#"  class="item">
				<img src="../static/img/sofa.png" class="item_img">
				<div>Orson 2 seater Sofa</div>
			</a>
			<a href="#"  class="item">
				<img src="../static/img/lamp.png" class="item_img">
				<div>Orson 2 seater Sofa</div>
			</a>
			<a href="#"  class="item">
				<img src="../static/img/table.png" class="item_img">
				<div>Orson 2 seater Sofa</div>
			</a>
			<a href="#"  class="item">
				<img src="../static/img/trunks.png" class="item_img">
				<div>Orson 2 seater Sofa</div>
			</a>
			<a href="#"  class="item">
				<img src="../static/img/cabinet.png" class="item_img">
				<div>Orson 2 seater Sofa</div>
			</a>
		</div>
	</div>
	<a  id="right_btn">
		<img src="../static/img/left.png" style="transform: scaleX(-1);" class="left_right_btn_img">
	</a>
</div>

<div class="craft">
		<div class="craft_wrap">
			<div class="heading_l">Different by Desgin</div>
			<div class="craft_content">
				We find the best independent designers and makers around the world to create your pieces. Producing designs in small batches keeps costs low - and we think it’s a more responsible way of working. From potters in Portugal to needle-workers in Nottingham, discover how your items get MADE.
			</div>

			<div class="craft_links">
				<a href="#">SEE HOW IT'S MADE</a>
				<a href="#">MEET THE DESIGNERS</a>
			</div>
		</div>
</div>

<div class="girl_sofa_wrap">
	<div class="left">
		<div class="left_tag">Get ahead on <br>gifting</div>
		<div class="img_a">
			 
				<img src="../static/img/girl.png" class="girl_img">
				<a href="#">SHOP IN TIME FOR CHRISTMAS</a>
			<br>
		</div>
	</div>
	<div class="right">
		<div class="heading">Clearance</div>

		<a href="#" class="sofa_img_wrap">
			<img src="../static/img/sofagreen.png" class="sofa_green">
		</a>

		<a href="#" class="sofa_link_clearance">
			Connor Armchair, Olive Cotton Velvet
		</a>

		<a href="#" class="clearance_link">
			SHOP CLEARANCE
		</a>
		<br>
	</div>
</div>


	<div class="shop_by_wrap">
		<div class="shop_by_links">
			<div class="link active_link" id="category">SHOP BY CATEGORY</div>
			<div class="link" id="room">SHOP BY ROOM</div>
			<div class="link" id="style">SHOP BY STYLE</div>
		</div>
		<div class="shop_by">
			
			<div class="shop_by_first category_list">
				<a href="#">Sofas</a>
				<a href="#">Armchairs</a>
				<a href="#">Tables</a>
				<a href="#">Chairs</a>
			</div>

			<div class="shop_by_first room_list hide">
				<a href="#">Living Room</a>
				<a href="#">Dining Room</a>
				<a href="#">Bedroom</a>
				<a href="#">Kitchen</a>
			</div>

			<div class="shop_by_first style_list hide">
				<a href="#">Scandinavian</a>
				<a href="#">Industrial</a>
				<a href="#">Retro</a>
			</div>

			<div class="shop_by_room">
				<div class="shop_img_wrap">
					<img src="../static/img/shopby1.png" class="shop_by_img">
				</div>
			</div>

			<div class="shop_by_third category_list">
				<a href="#">Beds</a>
				<a href="#">Storage</a>
				<a href="#">Lighting</a>
				<a href="#">Home furnishings</a>
			</div>
			<div class="shop_by_third room_list hide">
				<a href="#">Office</a>
				<a href="#">Bathroom</a>
				<a href="#">Hallway</a>
				<a href="#">All Furniture</a>
			</div>
			<div class="shop_by_third style_list hide">
				<a href="#">Modern</a>
				<a href="#">Classic</a>
				<a href="#">MADE Essentials</a>
			</div>

		</div>
	</div>




<div class="section">
	<div class="left_sec">
		<div class="head">Good enough to eat</div>
		<br>
		<div class="sec_cont">
			Want to become a pro at capturing perfect food photos for your 'gram? Stylist and 
			photographer Anna Cor tells us how.
		</div>
			<br>
		<a href="#" class="read_more_link">READ MORE</a>
	</div>

	<div class="right_sec">
	
	</div>
</div>



<div class="section_two">
		<div class="left_area">
			
		</div>

		<div class="right_area">
			<div class="right_area_wrap">
				<div class="head">Where bright <br> ideas get MADE</div>
				<br><br>
				<div class="sec2_cont">
					TalentLAB is our game-changing, crowdsourcing platform. You upload your ideas. We curate a collection. You pledge on your favourite pieces, and the most popular get MADE. Our latest edit, The Zen Collection, is designed to calm the mind and make your home an oasis.
				</div>
					<br><br>
				<a href="#" class="read_more_link">SEE THE LATEST EDIT</a>
			</div>
		</div>
</div>

<br><br>
<div class="newsletter">
	<div class="text_area">
		<div class="h">Our newsletter, join and get £10 off</div>
		<div class="news_cont">
			We will email you a voucher worth £10 off your first order over £50.
			By subscribing you agree to our Terms & Conditions and Privacy & Cookies Policy.
		</div>
	</div>
	<div class="input_area">
		<input type="text" placeholder="Enter email">
		<button class="go_btn">GO</button>
	</div>
</div>



<div class="footer">

	<div class="column c2">
		<div>About Us</div>
			<br>
		<a href="#">Our company</a>
		<a href="#">Our designers</a>
		<a href="#">Customer reviews</a>
		<a href="#">Modern Slavery Act</a>
		<a href="#">What the press say</a>
		<a href="#">TV Advert</a>
		<a href="#">Careers</a>
	</div>

	<div class="column">
		<div>About Us</div>
			<br>
		<a href="#">Our company</a>
		<a href="#">Our designers</a>
		<a href="#">Customer reviews</a>
		<a href="#">Modern Slavery Act</a>
		<a href="#">What the press say</a>
		<a href="#">TV Advert</a>
		<a href="#">Careers</a>
	</div>

	<div class="column">
		<div>How can we help</div>
			<br>
		<a href="#">Tracking your order</a>
		<a href="#">Help & FAQs</a>
		<a href="#">Deliveries</a>
		<a href="#">Returns & Refunds</a>
		<a href="#">Care and Maintenance</a>
		<a href="#">Product Recall</a>
		<a href="#">Affiliates</a>
		<a href="#">Buying Guides</a>
	</div>

	<div class="column">
		<div>MADE Services</div>
			<br>
		<a href="#">Inspiration</a>
		<a href="#">TalentLAB</a>
		<a href="#">Deliveries</a>
		<a href="#">The One by MADE.COM</a>
		<a href="#">MADE vouchers</a>
		<a href="#">Visit our showrooms</a>
	</div>

	<div class="column">
		<div>Shop by room</div>
			<br>
		<a href="#">Living room furniture</a>
		<a href="#">Dining rom furniture</a>
		<a href="#">Kitchen furniture</a>
		<a href="#">Bedroom furniture</a>
		<a href="#">Bathroom furniture</a>
		<a href="#">Office furniture</a>
		<a href="#">Hallway furniture</a>
		<a href="#">Garden furniture</a>
		<a href="#">Furniture</a>
	</div>

	<div class="column">
		<div>Shop by style</div>
			<br>
		<a href="#">Retro furniture</a>
		<a href="#">Scandanavian furniture</a>
		<a href="#">Modern furniture</a>
		<a href="#">Classic furniture</a>
		<a href="#">Industrail furniture</a>
		<a href="#">MADE Essentials furniture</a>
	</div>

	
</div>

<br>

<div class="bottombar">
	<div class="bottom_links">
		<a>Terms and Conditions</a>
		<a>Cookies and privacy policy</a>
		<a>Sitemap</a>
	</div>

	<div class="address">
		Registered Office: 5 Singer Street, London,EC2A 4BQ
	</div>
</div>

<br><br>


</div>  <!-- Wrapper Tag Cslosing -->






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>




<script>
	var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
   

  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";



}
 
</script>

<script>
	$("#right_btn").click(function(){
		var leftPos = $('.best_items').scrollLeft();
		$(".best_items").animate({scrollLeft:leftPos +323},300);
	});

	$("#left_btn").click(function(){
		var rightPos = $('.best_items').scrollLeft();
		$(".best_items").animate({scrollLeft:rightPos -323},300);
	});

</script>


<script>
	$("#category").click(function(){
		$(".shop_by_wrap").css({'background':'#d9c3b8'});
		$(".shop_by_img").attr('src','../static/img/shopby1.png');
		
		$(this).addClass("active_link");
		$("#room").removeClass("active_link");
		$("#style").removeClass("active_link");

		$(".category_list").removeClass("hide");
		$(".room_list").addClass("hide");
		$(".style_list").addClass("hide");
	});

	$("#room").click(function(){
		$(".shop_by_wrap").css({'background':'#c0d0cf'});
		$(".shop_by_img").attr('src','../static/img/shopby2.png');

		$(this).addClass("active_link");
		$("#category").removeClass("active_link");
		$("#style").removeClass("active_link");

		$(".category_list").addClass("hide");
		$(".room_list").removeClass("hide");
		$(".style_list").addClass("hide");
	});

	$("#style").click(function(){
		$(".shop_by_wrap").css({'background':'#d7d3d0'});
		$(".shop_by_img").attr('src','../static/img/shopby3.png');

		$(this).addClass("active_link");
		$("#category").removeClass("active_link");
		$("#room").removeClass("active_link");

		$(".category_list").addClass("hide");
		$(".room_list").addClass("hide");
		$(".style_list").removeClass("hide");
	});

</script>


</body>
</html>
