<!DOCTYPE html>
<html>
<head>
	<title>Products | Ecommerce Site </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/nav.css">
	<link rel="stylesheet" href="../static/css/products.css">
	<link rel="stylesheet" href="../static/css/carousel.css">
	<link rel="stylesheet" href="../static/css/fonts.css">
	
</head>

<body>

<div id="load"></div>
<div class="wrapper">
	<nav>
		<div class="logo">MADE</div>
		
		<div class="search">
			<img src="../static/img/search.png" style="width:20px;margin-top:10px;">
			<input type="text" placeholder="Search for products and inspirations">
		</div>

		<div class="opts">
		
			<div class="opt_icon_name">
				<img src="../static/img/loc.png" class="nav_icon"> <br>
				<div class="nav_icon_label">SHOWROOM</div>
			</div>
			<div class="opt_icon_name">
				<img src="../static/img/help.png" class="nav_icon"> <br>
				<div class="nav_icon_label">FAQ</div>
			</div>
			<div class="opt_icon_name">
				<img src="../static/img/user.png" class="nav_icon"> <br>
				<div class="nav_icon_label">ACCOUNT</div>
			</div>
			<div class="opt_icon_name">
				<img src="../static/img/basket.png" class="nav_icon"> <br>
				<div class="nav_icon_label">BASKET</div>
			</div>

		</div>
	</nav>


<div class="second_nav">
	<div class="second_nav_opts">NEW</div>
	<div class="second_nav_opts">SOFAS</div>
	<div class="second_nav_opts">CHAIRS</div>
	<div class="second_nav_opts">TABLES</div>
	<div class="second_nav_opts">STORAGE</div>
	<div class="second_nav_opts">BEDS</div>
	<div class="second_nav_opts">LIGHTING</div>
	<div class="second_nav_opts">HOME FURNISHINGS</div>
	<div class="second_nav_opts">ACCESSORIES</div>
	<div class="second_nav_opts">LIFESTYLE</div>
	<div class="second_nav_opts">CHRISTMAS</div>
	<div class="second_nav_opts">CLEARANCE</div>
	<div class="second_nav_opts">TALENTLAB</div>
	<div class="second_nav_opts">IDEAS</div>
</div>

<!-- Nav ends -->

<div class="path">
	<div>HOME</div> &nbsp;/
	<div style="color:#a9a9a9;">CHAIRS</div>
</div>


<div class="heading_prod">Chairs</div>

<div class="chair_cat">

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/armchair.png" class="cat_img">
			<div style="text-align: center;">Armchairs</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/accentchair.png" class="cat_img">
			<div style="text-align: center;">Accent Chairs</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/diningchair.png" class="cat_img">
			<div style="text-align: center;">Dining Chairs</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/stools.png" class="cat_img">
			<div style="text-align: center;">Stools & Bar Stools</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/ottomans.png" class="cat_img">
			<div style="text-align: center;">Ottomans & Footstools</div>
		</a>
	</div>

	

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/officechair.png" class="cat_img">
			<div style="text-align: center;">Office Chairs</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/beanbag.png" class="cat_img">
			<div style="text-align: center;">Beanbags & Pouffes</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/highback.png" class="cat_img">
			<div style="text-align: center;">Highback Chairs</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/fitspace.png" class="cat_img">
			<div style="text-align: center;">Fit your space</div>
		</a>
	</div>

	<div class="box_wrap">
		<a href="#" class="box">
			<img src="../static/img/interior.png" class="cat_img">
			<div style="text-align: center;">Interior Design</div>
		</a>
	</div>


</div>












<br><br>



</div>  <!--Wrapper tag ending -->






</body>
</html>